In [23]:
#import dependencies
import pandas as pd
import os
import numpy as np

In [24]:
#load and view Housing Prices
file = pd.read_csv("home_data.csv")
Housing_prices_df = pd.DataFrame(file)
Housing_prices_df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [25]:
#view column names
Housing_prices_df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [26]:
#Checking for NA's
Housing_prices_df[Housing_prices_df.isna().any(axis=1)]

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

In [27]:
#removed irrelevant data for determing price
Housing_prices_df = Housing_prices_df.drop(columns=['date','zipcode','lat','long'])
Housing_prices_df

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,7129300520,221900,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,6414100192,538000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,5631500400,180000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,2487200875,604000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,1954400510,510000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509
21609,6600060120,400000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200
21610,1523300141,402101,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007
21611,291310100,400000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287
21612,1523300157,325000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357

In [28]:
#set house id as index
new_housing_prices_df = Housing_prices_df.set_index('id')
new_housing_prices_df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,
7129300520,221900,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
6414100192,538000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
5631500400,180000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
2487200875,604000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
1954400510,510000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,360000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509
6600060120,400000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200
1523300141,402101,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007
291310100,400000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287
1523300157,325000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357

In [29]:
#checking value count of less common columns
#new_housing_prices_df.waterfront.value_counts()
new_housing_prices_df.view.value_counts()

0    19489
2      963
3      510
1      332
4      319
Name: view, dtype: int64

In [30]:
#sort by price
new_housing_prices_df = new_housing_prices_df.sort_values(by='price', ascending=False)
new_housing_prices_df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,
6762700020,7700000,6,8.00,12050,27600,2.5,0,3,4,13,8570,3480,1910,1987,3940,8800
9808700762,7062500,5,4.50,10040,37325,2.0,1,2,3,11,7680,2360,1940,2001,3930,25449
9208900037,6885000,6,7.75,9890,31374,2.0,0,4,3,13,8860,1030,2001,0,4540,42730
2470100110,5570000,5,5.75,9200,35069,2.0,0,0,3,13,6200,3000,2001,0,3560,24345
8907500070,5350000,5,5.00,8000,23985,2.0,0,4,3,12,6720,1280,2009,0,4600,21750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3883800011,82000,3,1.00,860,10426,1.0,0,0,3,6,860,0,1954,0,1140,11250
3028200080,81000,2,1.00,730,9975,1.0,0,0,1,5,730,0,1943,0,860,9000
8658300340,80000,1,0.75,430,5050,1.0,0,0,2,4,430,0,1912,0,1200,7500
40000362,78000,2,1.00,780,16344,1.0,0,0,1,5,780,0,1942,0,1700,10387
3421079032,75000,1,0.00,670,43377,1.0,0,0,3,3,670,0,1966,0,1160,42882

In [31]:
#for regression purposes, added yr_renovated to yr_built
new_housing_prices_df['yr_built'] = np.where(new_housing_prices_df['yr_renovated'] != 0, new_housing_prices_df['yr_renovated'], new_housing_prices_df['yr_built']) 
new_housing_prices_df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,
6762700020,7700000,6,8.00,12050,27600,2.5,0,3,4,13,8570,3480,1987,1987,3940,8800
9808700762,7062500,5,4.50,10040,37325,2.0,1,2,3,11,7680,2360,2001,2001,3930,25449
9208900037,6885000,6,7.75,9890,31374,2.0,0,4,3,13,8860,1030,2001,0,4540,42730
2470100110,5570000,5,5.75,9200,35069,2.0,0,0,3,13,6200,3000,2001,0,3560,24345
8907500070,5350000,5,5.00,8000,23985,2.0,0,4,3,12,6720,1280,2009,0,4600,21750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3883800011,82000,3,1.00,860,10426,1.0,0,0,3,6,860,0,1954,0,1140,11250
3028200080,81000,2,1.00,730,9975,1.0,0,0,1,5,730,0,1943,0,860,9000
8658300340,80000,1,0.75,430,5050,1.0,0,0,2,4,430,0,1912,0,1200,7500
40000362,78000,2,1.00,780,16344,1.0,0,0,1,5,780,0,1942,0,1700,10387
3421079032,75000,1,0.00,670,43377,1.0,0,0,3,3,670,0,1966,0,1160,42882

In [33]:
#dropped yr_renovated column
new_housing_prices_df = new_housing_prices_df.drop(columns='yr_renovated')
new_housing_prices_df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,
6762700020,7700000,6,8.00,12050,27600,2.5,0,3,4,13,8570,3480,1987,3940,8800
9808700762,7062500,5,4.50,10040,37325,2.0,1,2,3,11,7680,2360,2001,3930,25449
9208900037,6885000,6,7.75,9890,31374,2.0,0,4,3,13,8860,1030,2001,4540,42730
2470100110,5570000,5,5.75,9200,35069,2.0,0,0,3,13,6200,3000,2001,3560,24345
8907500070,5350000,5,5.00,8000,23985,2.0,0,4,3,12,6720,1280,2009,4600,21750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3883800011,82000,3,1.00,860,10426,1.0,0,0,3,6,860,0,1954,1140,11250
3028200080,81000,2,1.00,730,9975,1.0,0,0,1,5,730,0,1943,860,9000
8658300340,80000,1,0.75,430,5050,1.0,0,0,2,4,430,0,1912,1200,7500
40000362,78000,2,1.00,780,16344,1.0,0,0,1,5,780,0,1942,1700,10387
3421079032,75000,1,0.00,670,43377,1.0,0,0,3,3,670,0,1966,1160,42882